* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.column-left {
  border-right-style: solid;
  float: left;
  width: 25%;
  height: 400px;
  text-align: center;
}

.column-center {
  display: inline-block;
  width: 75%;
  height: 400px;
  text-align: center;
}

p.sem {
  font-size: 20px;
  font-style: italic;
}

p.com {
  font-size: 20px;
  font-style: italic;
}