* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  background-image: url(cpimg.png);
  background-size: 100%;
  padding: 6rem;
  text-align: center;
  background-repeat: no-repeat;
}

h3 {
  word-spacing: 100px;
  background: lightblue;
  padding: 2rem;
  text-align: center;
}

p {
	text-align: center;
	padding: 4rem;
}